body {
	padding-top: 100px;
	padding-bottom: 20px;
}

.media {
	vertical-align: middle;
}

.chaine {
	padding-bottom: 15px;
	padding-top: 10px;
	border-bottom: solid 1px;
}

.chaine a{
	text-decoration:none;
	color:black;
}

.programmes {
	border-bottom: solid 1px;
	padding-bottom: 10px;
}

.selectionChaine {
	padding-bottom: 30px;
}

.carousel .container {
  background-color: white;
}

.carousel-control {
  background-color: white;
}

.carousel .item {
  background-color: white;
}