html {
  height: 100%;
}

body {
	padding-top: 100px;
	height: 100%;
}

.media {
	vertical-align: middle;
}

.chaine {
	padding-bottom: 15px;
	padding-top: 10px;
	border-bottom: solid 1px;
}

.derniereChaine {
	padding-bottom: 15px;
	padding-top: 10px;
}

.chaine a, .derniereChaine a {
	text-decoration: none;
	color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.apropos {
	text-align: center;
}

#carousel-chaine {
	padding-top: 30px;
}

#programme {
	min-height: 100%;
}

#carousel-programme {
	height: 100%;
	padding-top: 2%;
}

#carousel-programme .carousel-inner img {
	margin: auto;
}

#carousel-programme .carousel-inner h5 {
	text-align: center;
}

#carousel-programme .carousel-inner h3 {
	text-align: center;
}

.selectionChaine {
	padding-bottom: 30px;
}

.carousel .container {
	background-color: white;
}

.carousel-control {
	width: 8%;
}

.carousel .item {
	background-color: white;
}

.nav-tabs {
	border-bottom: 0;
}

.ligneProgramme{
	border-bottom: solid 1px #04519b;
}

.cellule-heure {
	text-align: center;
	border-right: solid 1px #04519b;
	width: 65px;
}

.cellule-image {
	padding-left: 10px;
	width: 125px;
}

.cellule-programme {
	padding-left: 10px;
}