html {
  height: 100%;
}

body {
	padding-top: 100px;
	height: 100%;
}

.media {
	vertical-align: middle;
}

.chaine {
	padding-bottom: 15px;
	padding-top: 10px;
	border-bottom: solid 1px;
}

.chaine a {
	text-decoration:none;
	color:black;
}

.programmes {	
	padding-bottom: 10px;
	padding-left: 8%;
}

.ligneProgrammes {
	max-width: 83%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 1px;
}

.ligne {
	width: 100%;
	border-bottom: solid 1px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.apropos {
	text-align: center;
}

#carousel-chaine {
	padding-top: 30px;
}

#programme {
	height: 100%;
}

#carousel-programme {
	height: 100%;
	padding-top: 2%;
}

#carousel-programme .carousel-inner img {
	margin: auto;
}

#carousel-programme .carousel-inner h5 {
	text-align: center;
}

#carousel-programme .carousel-inner h3 {
	text-align: center;
}

.selectionChaine {
	padding-bottom: 30px;
}

.carousel .container {
  background-color: white;
}

.carousel-control {
  width: 8%;
}

.carousel .item {
  background-color: white;
}